.avatar-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  &__avatar,
  &__name {
    flex: 1 1 auto;
  }

  &__avatar {
    margin-right: .7rem;

    img.avatar {
      width: 30px;
      height: 30px;
    }
  }
}

img.avatar {
  border: 1px solid $color-gray-light;
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.mat-card-header-text {
  margin-left: 16px;
  margin-right: 0px !important;
}
