<div class="feed-loader">
  <div class="feed-loader__inner">
    <div class="feed-loader__inner__content">
      <div class="feed-loader__inner__content__title"></div>
      <div class="feed-loader__inner__content__image-wrap">
        <div class="feed-loader__inner__content__image-wrap__image"></div>
        <div class="feed-loader__inner__content__image-wrap__right">
          <div class="content-line"></div>
          <div class="content-line"></div>
          <div class="content-line"></div>
          <div class="content-line"></div>
        </div>
      </div>
      <div class="content-line"></div>
      <div class="content-line"></div>
      <div class="content-line"></div>
    </div>
  </div>
</div>
