<div class="article-loader">
  <div class="animated-background">
    <div class="content">
      <div class="content__title"></div>
      <div class="content__image-wrap">
        <div class="content__image-wrap__image"></div>
        <div class="content__image-wrap__right">
          <div class="content-line"></div>
          <div class="content-line"></div>
          <div class="content-line"></div>
          <div class="content-line"></div>
        </div>
      </div>
      <div class="content-line"></div>
      <div class="content-line"></div>
      <div class="content-line"></div>
    </div>
  </div>
</div>
