<mat-toolbar class="navigation__lower">
  <div class="navigation__lower__news-source">
    <button mat-button color="primary" [matMenuTriggerFor]="regionMenu">
      {{ currentRegion.name }}
    </button>
    <mat-menu #regionMenu="matMenu">
      <button mat-menu-item class="mat-menu-item" *ngFor="let region of regions" (click)="getItemsByRegion(region)">
        {{ region.name }}
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<gz-feed-list [items]="feedItems" [loading]="itemsLoading" [type]="'emergencies'"></gz-feed-list>
