@import 'assets/styles/_variables';

.navigation__lower {
  background-color: $color-gray-lighter;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 3rem 0 2rem 0;
}

/deep/ .mat-tab-header {
  background-color: $color-gray-lighter;
  margin: 3rem 0 2rem 0;
  padding-top: 1rem;
}
