<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav fixedInViewport="true" class="app-container__sidenav" mode="push">
    <mat-nav-list>
      <a mat-list-item routerLink="/alarmeringen" (click)="sidenav.close()">Alarmeringen</a>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Nieuws</a>
      <a mat-list-item routerLink="/tech" (click)="sidenav.close()">Technologie</a>
      <a mat-list-item routerLink="/verkeer" (click)="sidenav.close()">Verkeer</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-container__content">
    <gz-navigation [sidenav]="sidenav"></gz-navigation>
    <main id="main" class="main" role="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
