<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav fixedInViewport="true" class="sidenav" mode="push"></mat-sidenav>

  <mat-sidenav-content class="content-container">
    <gz-navigation [sidenav]="sidenav" [sources]="sources" (sourceUpdated)="getArticlesBySource($event)">
    </gz-navigation>

    <main id="main" class="main" role="main">
      <gz-articles-list [articles]="articles" [loading]="articlesLoading"></gz-articles-list>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
