.app-container {
  width: 100%;
  text-align: center;

  &__sidenav {
    padding: 20px;
    width: 320px;

    &__list__item:hover {
      cursor: pointer;
      color: #3f51b5;
    }

    &__list__item__label {
      margin-left: 1rem;
    }
  }

  &__content {
    background-color: #dddddd;
  }
}

.main {
  text-align: left;

  @media only screen and (max-width: 599px) {
    padding: 2rem 1.5rem;
  }

  @media only screen and (min-width: 600px) {
    margin: 0 auto;
    padding: 65px 0;
    width: 550px;
  }
}
