.navigation__upper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1050;

  &__logo {
    flex: 1 1 auto;
  }

}

.navigation__lower {
  background-color: #efefef;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 64px;

  &__news-source,
  &__category {
    flex: 0 1 auto;
  }

  /deep/ .mat-button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .avatar {
      margin-right: .8rem;
    }
  }
}
