@import './variables';
@import './mixins/mixins';
@import './components/components';

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $color-gray-lighter;
  color: $color-black;
  font-family: $font-default;
  font-size: $base-size;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  line-height: 1.65em;
  text-shadow: none;

  @media only screen and (max-width: 599px) {
    font-size: 14px;
  }
}
