$base-size: 16px;

$color-black: #333333;

$color-gray: #cccccc;
$color-gray-light: #dddddd;
$color-gray-lighter: #efefef;

$color-white: #ffffff;


$color-traffic-sign-blue: #2a64f6;
$color-traffic-sign-red: #e73323;
$color-traffic-sign-yellow: #f5d651;

$font-default: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;

// Breakpoints
$small: 600px;
$phone-upper-boundary: $small;

$medium: 900px;
$tablet-portrait-upper-boundary: $medium;

$large: 1200px;
$tablet-landscape-upper-boundary: $large;

$xlarge: 1800px;
$desktop-upper-boundary: $xlarge;
