<div class="road-entry">
  <mat-accordion>
    <mat-expansion-panel class="road-entry__card">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="road-entry__title" [ngClass]="{
          'road-entry__title--a': item.roadType === 'aWegen',
          'road-entry__title--n': item.roadType === 'nWegen'
        }">
            {{ item.road | spaceAfterChar }}</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="road-entry__description">{{ totalAmount }}</div>
          <div class="road-entry__description" *ngIf="totalDistance">{{ totalDistance | metresToKm }}</div>
          <div class="road-entry__description" *ngIf="totalDelay">{{ totalDelay | secondsToMinutes }}</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul class="list-group list-group--road-events">
        <li class="list-group-item list-group-item--traffic-jam" *ngFor="let trafficJam of item.trafficJams">
          <div class="event-item">
            <h4 class="event-item__title">{{ trafficJam.segStart }} - {{ trafficJam.segEnd }}</h4>
            <div class="event-item__info">
              <p class="event-item__info__description">{{ trafficJam.description }}</p>
              <div class="event-item__info__numbers">
                <div class="event-item__info__numbers__distance" *ngIf="trafficJam.distance">
                  {{ trafficJam.distance | metresToKm }}</div>
                <div class="event-item__info__numbers__delay" *ngIf="trafficJam.delay">
                  +{{ trafficJam.delay | secondsToMinutes }} min.
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
